*{
	/* Universal reset: */
	margin:0;
	padding:0;
}
/* The navigation styling: */
nav{
	background:black;
	padding:0 30px;
	position:absolute;
	right:0;
	top:0;
}
nav ul li{
	display:inline;
}

nav ul li a{
	color:white;
	display:block;
	float:left;
	font-size:1.25em;
	margin:3px 10px;
	padding:7px 10px 4px;
}

nav ul li a:hover{
	background-color:#f0f0f0;
}
/* style for header */
header {
	margin-bottom: 7em;
	padding: 4.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient(
	    30deg, #99ccff 0%, #99ccff 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #99ccff 0%, #99ccff 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #99ccff 0%, #99ccff 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #99ccff 0%, #99ccff 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header h3 {
	font-size: 150%;
	color:#800000;
	font-style: italic;
}
header img {
	float: left;	
	padding: 0 50px 20px 20px;
}
/* style for body */
body { 
	width: auto; 	
}
/* style for sidebar A */
#sidebarA {
	width: 200px;
	height: 350px;
	float: left;
}
/* style for main */
main {
	width: 800px;
	float:left; 
	border-right:2px solid #800000;
	border-left:2px solid #800000;
}	
main h2{
	color:#323878;
	padding-left:40px;
}
main ul{
	padding-left:40px;
	padding-right:20px;
}	
main li{
	padding-top:20px;	
	padding-left:40px;
}
/* style for sidebar B */
#sidebarB {
	width: 200px;
	height: 450px;		
	float:right;
	overflow:auto;
	padding-right:40px;
}
/* the styles for gallery */
div.gallery {
  width: 150px;
  padding-top:5px;
  padding-left:20px;
}
div.gallery img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   opacity: 0.5;
}
div.gallery img {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius:4px;
  border: 1px solid #ccc;
}
/* the styles for social app */
.icons{
	position:fixed;
	top:50%;
	left:0%;
	width:250px;
	display:flex;
	flex-direction:column;
}
.icons a{
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:20px;
	font-family:'Oswald', sans-serif;
	margin:2px;
	text-align:right;	
	border-radius:0px 50px 50px 0px;
	transform: translate(-170px,0px);
	transition: all 0.5s; 
}
.icons a i{
	margin-left:25px;
	background-color:white;
	height:40px;
	width:40px;
	color:black;
	text-align:center;
	line-height:40px;
	border-radius:50%;
}
.icons a:hover{
	transform:translate(0px,0px);
}
.facebook{
	background-color:#2C80D3;
	color:white;
}
.instagram{
	background-color:#C13584;
	color:white;
}
.youtube{
	background-color:#fa0910;
	color:white;
}
/* Footer styling: */
footer{
	padding-top:40px;
	clear:both;
	text-align:center;
	font-size:0.825em;
}
footer p{
	position:relative;
}


